ch 6 code/FunWithSampleData/FunWithSampleData/SampleData/SampleWorkDataSource/SampleWorkDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleWorkDataSource" targetNamespace="Expression.Blend.SampleData.SampleWorkDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleWorkDataSource" type="tns:SampleWorkDataSource" />
  <xs:complexType name="SampleWorkDataSource">
    <xs:sequence>
      <xs:element name="UserCollection" type="tns:UserCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UserCollectionItem" type="tns:UserCollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserCollectionItem">
    <xs:attribute name="FirstName" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="LastName" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Age" type="xs:double" />
    <xs:attribute blend:FormatParameters="..\..\..\..\..\..\..\Development\Tools\VS2012 Modern Image Library\VS2012 Modern Image Library\_Common Elements\PNG" name="Picture" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>